*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
}

#container{
    min-height: calc(100vh - 170px);
}

#hoofding {
    background: #0d7cad;
    height: 100px;
    padding-top: 10px;
    padding-left: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#inhoud {
    height: auto;
    padding-top: 120px;
    padding-bottom: 60px;
    width: 80%;
    margin: auto;
}

#voetnoot {
    height: 170px;
    background: #0d7cad;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    color: white;
}

td {
    padding-right: 20px;
}

table {
    display: inline-block;
}

#voetnoot table {
    margin: 10px;
    margin-left: 10%;
}

#ontwikkelaar {
    margin: 10px;
}

a:link {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #f6f6f6;
}

input[type=submit] {
    background-color: #0d7cad;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
}



#tabel td{
    border-bottom: 1px solid #ccc;
}

#tabel{
    border-collapse: separate;
    border-spacing: 0 15px;
}

#tabel tr:last-child{
    border: none;
}






